<html>
  <head>
    <title>Data Layer: Polygon</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/mapstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>

  
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <% for(var i = 0; i < nav.length; i++){ %>
        <li> <a href= " <%= nav[i].link %>" > <%=nav[i].title%> </a> </li>
        <% } %>        
      </ul>
    </nav>
  </div>
</header>


    <div style="text-align:center">
      <h2 style = "margin-top:5%; margin-bottom:2%"> UK Well-Being Data </h2>
    </div>
    <!-- <div id="info-box"> ? </div> -->

    <div id="map"></div>


    <script>

    
       function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 52.500, lng: 0.250},
        });


        
    // This is where loading happens
    // w = map.data.loadGeoJson('/UK-Adresses/');
    // map.data.addGeoJson(w);


    

    // e = $.ajax({
    //   dataType: "json",
    //   url: "UK-Adresses/",
    //   data: "E",
    //   success: success
    // });
  
  // e = $.getJSON( "UK-Adresses/", function( data ) {
  //   map.data.addGeoJson(e);
  //   alert(data);
  // });
 
  // });
    // var adress = 'E'; 
    // e = map.data.loadGeoJson('UK-Adresses/' , adress);
    

    map.data.addListener('mouseover', function(event) {
      document.getElementById('info-box').textContent = event.feature.getProperty('name');
    });

    //FOR DEMO PURPOSES LOAD HALF THE MAP
    // var arr = ['AB','AL','B','BA','BB','BD','BF','BH','BL','BN','BR','BS','BT','BX','CA','CB','CF',
    //            'CH','CM','CO','CR','CT','CV', 'CW','DA','DD','DE','DG','DH','DL','DN','DT','DY','E','EC',
    //             'EH','EN','EX','FK','FY','G','GIR','GL','GU','GY','HA','HD','HG','HP'];

    //FOER DEMO PURPOSES LOAD WHOLE MAP
    var arr = ['AB','AL','B','BA','BB','BD','BH','BL','BN','BR','BS','CA','CB','CF',
               'CH','CM','CO','CR','CT','CV', 'CW','DA','DD','DE','DG','DH','DL','DN','DT','DY','E','EC',
                'EH','EN','EX','FK','FY','G','GL','GU','HA','HD','HG','HP','HR','HS','HU','HX',
                'IG','IP','IV','KA','KT','KW','KY','L','LA','LD','LE','LL','LN','LS','LU','M','ME',
                'MK','ML','N','NE','NG','NN','NP','NR','NW','OL','OX','PA','PE','PH','PL','PO','PR','RG','RH',
                'RM','S','SA','SE','SG','SK','SL','SM','SN','SO','SP','SR','SS','ST','SW','SY','TA','TD',
                'TF','TN','TQ','TR','TS','TW','UB','W','WA','WC','WD','WF','WN','WR','WS','WV','YO','ZE']
    
    function loadAreasOntoMap(i){
    if(i >= arr.length){
      console.log("Finished");
    }
    else{
    areaAdress = arr[i];
    $.ajax({
      url: "/UK-Adresses/",
      async: 'true',
      //force to handle it as text
      dataType: "text",
      data:  areaAdress,
      success: function(data) {
          var json = $.parseJSON(data);
          map.data.addGeoJson(json);
      }
    });
     return loadAreasOntoMap(i + 1);
  }
}

  loadAreasOntoMap(0);
  
   
    map.data.setStyle(function(feature,number) {
    var number = Math.random() * 10;
    console.log(feature.getProperty('name'));
    

    // if(feature.getProperty('name') == 'E1'){
    var color = 'red';
    if(number > 2.5){
      color = 'orange';
    }
    if(number > 5){
      color = 'yellow';
    }
    if(number > 7.5){
      color = 'green';
    }
    return {
      fillColor: color,
      strokeWeight: 0.2
     };
    // }
// 
  //   else{
  //     return{
  //     fillColor: "#ffffff",
  //     strokeWeight: 0.1
  // }
  //   }
      })};


      // map.data.addListener('mouseover', function(event) {
      //     alert(event.feature.getProperty('average'));
      //     // document.getelement('info-box').textContent =
      //     //     event.feature.getProperty('average');
      //   })

    </script>


        <div class='my-legend'>
          <div class='legend-title'> Legend illustrates colors that correspond to </br>
                            predicted average scores for individual post code areas</div>
          <div class='legend-scale'>
            <ul class='legend-labels'>
              <li><span style='background:red;'></span>0 - 2.5</li>
              <li><span style='background:orange;'></span>2.5 - 5.0</li>
              <li><span style='background:yellow;'></span>5.0 - 7.5</li>
              <li><span style='background:green;'></span>7.5 - 10</li>
            </ul>
          </div>

          </div>



    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhfs3WQijSbqOY-RDmoC1RoYfc3RIiRs4&callback=initMap">
    </script>
  

  <footer style="margin-top: 10%">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <p class="pull-right"> © UCL Team 9</p>      
      </div>
    </div>
  </div>
</footer>

</body>

</html>
